*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   background-color:skyblue;
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 40%;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
}
input{
    display: block;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    border-style: none;
}
form{
    background-color: rgb(158, 225, 225);
    border-radius: 10px;
    border:1px  solid rgb(36, 36, 36) ;
    padding: 20px;
    box-shadow: 5px 5px 10px  rgb(73, 72, 72);
}

button{
    background-color: tomato;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}
button:hover{
    background-color: darkred;
}

input:hover{
    background-color: rgb(195, 202, 208);
}
